In [2]:
import pandas as pd 
import numpy as np

In [3]:
# Pandas ile Excel Dosyası Okuma
# Excel dosyasını okuma
son_10_yıl=pd.read_excel("yillara gore il nufuslari(2014-2024).xls")

In [4]:
print(type(son_10_yıl))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(son_10_yıl)

                İL     2014     2015     2016     2017     2018     2019  \
0            Adana  2165595  2183167  2201670  2216475  2220125  2237940
1         Adıyaman   597835   602774   610484   615076   624513   626465
2   Afyonkarahisar   706371   709015   714523   715693   725568   729483
3             Ağrı   549435   547210   542255   536285   539657   536199
4           Amasya   321913   322167   326351   329888   337508   337800
..             ...      ...      ...      ...      ...      ...      ...
76          Yalova   226514   233009   241665   251203   262234   270976
77         Karabük   231333   236978   242347   244453   248014   248458
78           Kilis   128781   130655   130825   136319   142541   142490
79        Osmaniye   506807   512873   522175   527724   534415   538759
80           Düzce   355549   360388   370371   377610   387844   392166

       2020     2021     2022     2023     2024
0   2258718  2263373  2274106  2270298  2280484
1    632459   632148   635169   604978   611037
2    736912   744179   747555   751344   750193
3    535435   524644   510626   511238   499801
4    335494   335331   338267   339529   342378
..      ...      ...      ...      ...      ...
76   276050   291001   296333   304780   307882
77   243614   249287   252058   255242   250478
78   142792   145826   147919   155179   156739
79   548556   553012   559405   557666   561061
80   395679   400976   405131   409865   412344

[81 rows x 12 columns]

pandas DataFrame Kullanımı: `son_10_yıl` Örneği

`son_10_yıl` bir pandas DataFrame'dir. DataFrame, tablo şeklinde (satır-sütun) veri tutar ve üzerinde birçok işlem yapılabilir.

Temel Özellikler ve Kullanımlar

In [6]:
#İlk Satırları Görüntüleme**
print(son_10_yıl.head())  # İlk 5 satırı gösterir
print(son_10_yıl.tail())  # Son 5 satırı gösterir

               İL     2014     2015     2016     2017     2018     2019  \
0           Adana  2165595  2183167  2201670  2216475  2220125  2237940
1        Adıyaman   597835   602774   610484   615076   624513   626465
2  Afyonkarahisar   706371   709015   714523   715693   725568   729483
3            Ağrı   549435   547210   542255   536285   539657   536199
4          Amasya   321913   322167   326351   329888   337508   337800

      2020     2021     2022     2023     2024
0  2258718  2263373  2274106  2270298  2280484
1   632459   632148   635169   604978   611037
2   736912   744179   747555   751344   750193
3   535435   524644   510626   511238   499801
4   335494   335331   338267   339529   342378
          İL    2014    2015    2016    2017    2018    2019    2020    2021  \
76    Yalova  226514  233009  241665  251203  262234  270976  276050  291001
77   Karabük  231333  236978  242347  244453  248014  248458  243614  249287
78     Kilis  128781  130655  130825  136319  142541  142490  142792  145826
79  Osmaniye  506807  512873  522175  527724  534415  538759  548556  553012
80     Düzce  355549  360388  370371  377610  387844  392166  395679  400976

      2022    2023    2024
76  296333  304780  307882
77  252058  255242  250478
78  147919  155179  156739
79  559405  557666  561061
80  405131  409865  412344

In [7]:
#Sütun İsimlerini Görüntüleme

print(son_10_yıl.columns)
print(son_10_yıl.index)  # Sütun isimlerini liste olarak gösterir

Index(['İL', 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype='object')
RangeIndex(start=0, stop=81, step=1)

In [8]:
#Veri Tiplerini Görüntüleme
print(son_10_yıl.dtypes)

İL      object
2014     int64
2015     int64
2016     int64
2017     int64
2018     int64
2019     int64
2020     int64
2021     int64
2022     int64
2023     int64
2024     int64
dtype: object

In [9]:
#Belirli Bir Sütunu Seçme**
print(son_10_yıl["İL"])  # "İL" adında bir sütun varsa

0              Adana
1           Adıyaman
2     Afyonkarahisar
3               Ağrı
4             Amasya
           ...
76            Yalova
77           Karabük
78             Kilis
79          Osmaniye
80             Düzce
Name: İL, Length: 81, dtype: object

In [10]:
### `.iloc` Kullanımı (pandas)

# .iloc`, pandas DataFrame'de 
# **satır ve sütunlara indeks (sıra numarası) ile erişmek** için kullanılır.

#Temel Kullanımlar:

#`df.iloc[0]`  
# İlk satırı getirir.

#`df.iloc[0, 1]`  
# İlk satırın ikinci sütununu getirir.

#`df.iloc[2:5]`  
#2. ile 4. satırlar arasını getirir (5 dahil değil).

#`df.iloc[:, 0]`  
# Tüm satırların ilk sütununu getirir.

print(son_10_yıl.iloc[0])      # İlk satır
print(son_10_yıl.iloc[0, 1])  # İlk satırın ikinci sütunu

İL        Adana
2014    2165595
2015    2183167
2016    2201670
2017    2216475
2018    2220125
2019    2237940
2020    2258718
2021    2263373
2022    2274106
2023    2270298
2024    2280484
Name: 0, dtype: object
2165595

In [11]:
# `.loc` Kullanımı (pandas)

#.loc`, pandas DataFrame'de **satır ve sütunlara etiket (isim) ile erişmek** için kullanılır.

#Temel Kullanımlar:

#df.loc[0]`  
#0 indeksli satırı getirir (etiket olarak 0 varsa).

#`df.loc[0, "İL"]`  
#0. satırın "İL" sütununu getirir.

#`df.loc[2:5]`  
# 2 ile 5 etiketli satırlar arasını getirir (her ikisi de dahil).

#`df.loc[:, "YIL"]`  
#Tüm satırların "YIL" sütununu getirir.


print(son_10_yıl.loc[0, "İL"])     # 0. satırın "İL" sütunu
print(son_10_yıl.loc[2:5])         # 2 ile 5 etiketli satırlar
print(son_10_yıl.loc[:,2016])      # Tüm satırların "2016" sütunu

Adana
               İL     2014     2015     2016     2017     2018     2019  \
2  Afyonkarahisar   706371   709015   714523   715693   725568   729483
3            Ağrı   549435   547210   542255   536285   539657   536199
4          Amasya   321913   322167   326351   329888   337508   337800
5          Ankara  5150072  5270575  5346518  5445026  5503985  5639076

      2020     2021     2022     2023     2024
2   736912   744179   747555   751344   750193
3   535435   524644   510626   511238   499801
4   335494   335331   338267   339529   342378
5  5663322  5747325  5782285  5803482  5864049
0     2201670
1      610484
2      714523
3      542255
4      326351
       ...
76     241665
77     242347
78     130825
79     522175
80     370371
Name: 2016, Length: 81, dtype: int64

In [12]:

#Filtreleme (Koşullu Seçim)
# Adana iline ait verileri seç
print(son_10_yıl[son_10_yıl["İL"] == "Denizli"])

         İL    2014    2015     2016     2017     2018     2019     2020  \
19  Denizli  978700  993442  1005687  1018735  1027782  1037208  1040915

       2021     2022     2023     2024
19  1051056  1056332  1059082  1061371

In [13]:


#Temel İstatistikler
print(son_10_yıl.describe(include="all").T)
# `describe()` metodu, sayısal sütunlar için temel istatistikleri (ortalama, standart sapma, min, max, vb.) gösterir.
# `include="all"` parametresi, tüm sütun türlerini (sayısal ve kategorik) içerir.
# `T` metodu, DataFrame'i transpoze eder, yani satırları sütun yapar.

     count unique    top freq            mean             std      min  \
İL      81     81  Düzce    1             NaN             NaN      NaN
2014  81.0    NaN    NaN  NaN   959208.691358  1731702.236193  80607.0
2015  81.0    NaN    NaN  NaN   972111.765432  1766431.999846  78550.0
2016  81.0    NaN    NaN  NaN   985368.777778  1786221.065363  82193.0
2017  81.0    NaN    NaN  NaN   997660.802469  1814170.592258  80417.0
2018  81.0    NaN    NaN  NaN  1012393.604938   1821603.16162  82274.0
2019  81.0    NaN    NaN  NaN  1026604.901235  1873902.836335  84660.0
2020  81.0    NaN    NaN  NaN  1032276.074074  1872575.818374  81910.0
2021  81.0    NaN    NaN  NaN  1045435.469136   1914342.69283  83645.0
2022  81.0    NaN    NaN  NaN  1052833.987654  1925149.780424  84241.0
2023  81.0    NaN    NaN  NaN  1053979.962963  1901676.720765  86047.0
2024  81.0    NaN    NaN  NaN  1057591.901235  1910439.432373  83676.0

           25%       50%        75%         max
İL         NaN       NaN        NaN         NaN
2014  284789.0  511790.0   978700.0  14377018.0
2015  286767.0  513341.0   993442.0  14657434.0
2016  289786.0  522175.0  1005687.0  14804116.0
2017  287654.0  528422.0  1018735.0  15029231.0
2018  288878.0  536483.0  1029927.0  15067724.0
2019  285410.0  536199.0  1055412.0  15519267.0
2020  284923.0  537762.0  1081065.0  15462452.0
2021  291001.0  546589.0  1113400.0  15840900.0
2022  296333.0  557605.0  1128749.0  15907951.0
2023  304780.0  557666.0  1116618.0  15655924.0
2024  307882.0  561061.0  1118087.0  15701602.0

In [14]:

#Eksik Verileri Kontrol Etme
print(son_10_yıl.isnull().sum())

# Eksik verileri kontrol eder ve her sütundaki eksik değer sayısını gösterir.
# `isnull()` metodu, DataFrame'deki eksik değerleri True/False olarak döndürür.
# `sum()` metodu ise her sütundaki True değerlerinin toplamını alır, yani eksik değer sayısını verir.

İL      0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
2023    0
2024    0
dtype: int64

In [15]:

#Yeni Sütun Ekleme
son_10_yıl["Yeni_Sütununu_adı"] = "yeni sütun içerigi"

# Yeni bir sütun ekler ve tüm satırlara "yeni sütun" değerini atar.

print(son_10_yıl.head())  # Yeni sütunu kontrol etmek için ilk 5 satırı gösterir

               İL     2014     2015     2016     2017     2018     2019  \
0           Adana  2165595  2183167  2201670  2216475  2220125  2237940
1        Adıyaman   597835   602774   610484   615076   624513   626465
2  Afyonkarahisar   706371   709015   714523   715693   725568   729483
3            Ağrı   549435   547210   542255   536285   539657   536199
4          Amasya   321913   322167   326351   329888   337508   337800

      2020     2021     2022     2023     2024   Yeni_Sütununu_adı
0  2258718  2263373  2274106  2270298  2280484  yeni sütun içerigi
1   632459   632148   635169   604978   611037  yeni sütun içerigi
2   736912   744179   747555   751344   750193  yeni sütun içerigi
3   535435   524644   510626   511238   499801  yeni sütun içerigi
4   335494   335331   338267   339529   342378  yeni sütun içerigi

In [16]:
# DataFrame'de Fonksiyon Kullanımı

#pandas DataFrame'lerde, satır veya sütunlara kolayca fonksiyon uygulayabilirsin.
#  Bunun için en çok kullanılan yöntemler: `apply()`, `applymap()`,
#  ve doğrudan fonksiyon çağrılarıdır.

#Bir Sütuna Fonksiyon Uygulama (`apply`)

son_10_yıl["2016_iki_kat"] = son_10_yıl[2016].apply(lambda x: x * 2)
# Örneğin, 2016 sütunundaki değerleri ikiyle çarpar ve yeni bir sütun ekler.
print(son_10_yıl.head())  # Yeni sütunu kontrol etmek için ilk 5 satırı gösterir

               İL     2014     2015     2016     2017     2018     2019  \
0           Adana  2165595  2183167  2201670  2216475  2220125  2237940
1        Adıyaman   597835   602774   610484   615076   624513   626465
2  Afyonkarahisar   706371   709015   714523   715693   725568   729483
3            Ağrı   549435   547210   542255   536285   539657   536199
4          Amasya   321913   322167   326351   329888   337508   337800

      2020     2021     2022     2023     2024   Yeni_Sütununu_adı  \
0  2258718  2263373  2274106  2270298  2280484  yeni sütun içerigi
1   632459   632148   635169   604978   611037  yeni sütun içerigi
2   736912   744179   747555   751344   750193  yeni sütun içerigi
3   535435   524644   510626   511238   499801  yeni sütun içerigi
4   335494   335331   338267   339529   342378  yeni sütun içerigi

   2016_iki_kat
0       4403340
1       1220968
2       1429046
3       1084510
4        652702

In [17]:

#Dataframe'de kullanabileceğin bazı hazır metotlar:

print(son_10_yıl[2016].mean())   # 2016 sütununun ortalaması
print(son_10_yıl[2017].sum())    # 2017 sütununun toplamı
print(son_10_yıl[2018].max())    # 2018 sütununun maksimum değeri
print(son_10_yıl[2019].min())    # 2019 sütununun minimum değeri
print(son_10_yıl[2020].std())    # 2020 sütununun standart sapması
print(son_10_yıl[2021].median()) # 2021 sütununun medyanı
print(son_10_yıl[2022].var())    # 2022 sütununun varyansı
print(son_10_yıl[2023].count())  # 2023 sütunundaki değerlerin sayısı
print(son_10_yıl[2016].mode()[0])  # 2016 sütununun mod değeri

#DataFrame sort

985368.7777777778
80810525
15067724
84660
1872575.8183742706
546589.0
3706201677067.288
81
82193

In [18]:
# DataFrame'de bir sütuna göre sıralama (sort_values)

# Örneğin: 2018 yılına göre büyükten küçüğe sırala
sirali_df = son_10_yıl.sort_values(by=2024, ascending=False)
print(sirali_df)

# by # `by` parametresi, sıralama yapılacak sütunu belirtir.
# `ascending=False` parametresi, sıralamanın büyükten küçüğe olacağını belirtir.
# Sıralama işlemi, yeni bir DataFrame döndürür,
# orijinal DataFrame'i değiştirmez. Eğer orijinal DataFrame'i değiştmek istersen,
# `inplace=True` parametresini kullanabilirsin:
# son_10_yıl.sort_values(by=2024, ascending=False, inplace=True)

           İL      2014      2015      2016      2017      2018      2019  \
33   İstanbul  14377018  14657434  14804116  15029231  15067724  15519267
5      Ankara   5150072   5270575   5346518   5445026   5503985   5639076
34      İzmir   4113072   4168415   4223545   4279677   4320519   4367251
15      Bursa   2787539   2842547   2901396   2936803   2994521   3056120
6     Antalya   2222562   2288456   2328555   2364396   2426356   2511700
..        ...       ...       ...       ...       ...       ...       ...
78      Kilis    128781    130655    130825    136319    142541    142490
28  Gümüşhane    146353    151449    172034    170173    162748    164521
74    Ardahan    100809     99265     98335     97096     98907     97319
61    Tunceli     86527     86076     82193     82498     88198     84660
68    Bayburt     80607     78550     90154     80417     82274     84843

        2020      2021      2022      2023      2024   Yeni_Sütununu_adı  \
33  15462452  15840900  15907951  15655924  15701602  yeni sütun içerigi
5    5663322   5747325   5782285   5803482   5864049  yeni sütun içerigi
34   4394694   4425789   4462056   4479525   4493242  yeni sütun içerigi
15   3101833   3147818   3194720   3214571   3238618  yeni sütun içerigi
6    2548308   2619832   2688004   2696249   2722103  yeni sütun içerigi
..       ...       ...       ...       ...       ...                 ...
78    142792    145826    147919    155179    156739  yeni sütun içerigi
28    141702    150119    144544    148539    142617  yeni sütun içerigi
74     96161     94932     92481     92819     91354  yeni sütun içerigi
61     83443     83645     84366     89317     86612  yeni sütun içerigi
68     81910     85042     84241     86047     83676  yeni sütun içerigi

    2016_iki_kat
33      29608232
5       10693036
34       8447090
15       5802792
6        4657110
..           ...
78        261650
28        344068
74        196670
61        164386
68        180308

[81 rows x 14 columns]

In [19]:
son_10_yıl[2018] > 500000

0      True
1      True
2      True
3      True
4     False
      ...
76    False
77    False
78    False
79     True
80    False
Name: 2018, Length: 81, dtype: bool

In [20]:
# DataFrame'de filtreleme (koşullu seçim) nasıl yapılır?

# Örneğin: 2018 yılında nüfusu 500000'den büyük olan illeri seçmek için:
filtreli_df = son_10_yıl[son_10_yıl[2018] > 500000]

# [son_10_yıl[2018] > 500000] ifadesi, 2018 sütunundaki değerlerin 500000'den büyük olduğu satırları seçer.
# Bu ifade, True/False değerleri döndürür ve bu değerler DataFrame'de filtreleme için kullanılır.
# Sonuç olarak, `filtreli_df` DataFrame'i, 2018 sütununda 500000'den büyük olan illerin verilerini içer
print(filtreli_df)

# Başka bir örnek: Sadece "Denizli" ilini seçmek için:
denizli_df = son_10_yıl[son_10_yıl["İL"] == "Denizli"]
# Bu ifade, "İL" sütununda "Denizli" olan satırları seçer.
# Sonuç olarak, `denizli_df` DataFrame'i sadece "Denizli" ilinin verilerini içerir.

                İL      2014      2015      2016      2017      2018  \
0            Adana   2165595   2183167   2201670   2216475   2220125
1         Adıyaman    597835    602774    610484    615076    624513
2   Afyonkarahisar    706371    709015    714523    715693    725568
3             Ağrı    549435    547210    542255    536285    539657
5           Ankara   5150072   5270575   5346518   5445026   5503985
6          Antalya   2222562   2288456   2328555   2364396   2426356
8            Aydın   1041979   1053506   1068260   1080839   1097746
9        Balıkesir   1189057   1186688   1196176   1204824   1226575
15           Bursa   2787539   2842547   2901396   2936803   2994521
16       Çanakkale    511790    513341    519793    530417    540662
18           Çorum    527220    525180    527863    528422    536483
19         Denizli    978700    993442   1005687   1018735   1027782
20      Diyarbakır   1635048   1654196   1673119   1699901   1732396
22          Elazığ    568753    574304    578789    583671    595638
24         Erzurum    763320    762321    762021    760476    767848
25       Eskişehir    812320    826716    844842    860620    871187
26       Gaziantep   1889466   1931836   1974244   2005515   2028563
30           Hatay   1519836   1533507   1555165   1575226   1609856
32          Mersin   1727255   1745221   1773852   1793931   1814468
33        İstanbul  14377018  14657434  14804116  15029231  15067724
34           İzmir   4113072   4168415   4223545   4279677   4320519
37         Kayseri   1322376   1341056   1358980   1376722   1389680
40         Kocaeli   1722795   1780055   1830772   1883270   1906391
41           Konya   2108808   2130544   2161303   2180149   2205609
42         Kütahya    571554    571463    573642    572256    577941
43         Malatya    769544    772904    781305    786676    797036
44          Manisa   1367905   1380366   1396945   1413041   1429643
45   Kahramanmaraş   1089038   1096610   1112634   1127623   1144851
46          Mardin    788996    796591    796237    809719    829195
47           Muğla    894509    908877    923773    938751    967487
51            Ordu    724268    728949    750588    742341    771932
53         Sakarya    932706    953181    976948    990214   1010700
54          Samsun   1269989   1279884   1295927   1312990   1335716
57           Sivas    623116    618617    621224    621301    646608
58        Tekirdağ    906732    937910    972875   1005463   1029927
59           Tokat    597920    593990    602662    602086    612646
60         Trabzon    766782    768417    779379    786326    807903
62       Şanlıurfa   1845667   1892320   1940627   1985753   2035809
64             Van   1085542   1096397   1100190   1106891   1123784
66       Zonguldak    598796    595907    597524    596892    599698
71          Batman    557593    566633    576899    585252    599103
72          Şırnak    488966    490184    483788    503236    524190
79        Osmaniye    506807    512873    522175    527724    534415

        2019      2020      2021      2022      2023      2024  \
0    2237940   2258718   2263373   2274106   2270298   2280484
1     626465    632459    632148    635169    604978    611037
2     729483    736912    744179    747555    751344    750193
3     536199    535435    524644    510626    511238    499801
5    5639076   5663322   5747325   5782285   5803482   5864049
6    2511700   2548308   2619832   2688004   2696249   2722103
8    1110972   1119084   1134031   1148241   1161702   1165943
9    1228620   1240285   1250610   1257590   1273519   1276096
15   3056120   3101833   3147818   3194720   3214571   3238618
16    542157    541548    557276    559383    570499    568966
18    530864    530126    526282    524130    528351    521335
19   1037208   1040915   1051056   1056332   1059082   1061371
20   1756353   1783431   1791373   1804880   1818133   1833684
22    591098    587960    588088    591497    604411    603941
24    762062    758279    756893    749754    749993    745005
25    887475    888828    898369    906617    915418    921630
26   2069364   2101157   2130432   2154051   2164134   2193363
30   1628894   1659320   1670712   1686043   1544640   1562185
32   1840425   1868757   1891145   1916432   1938389   1954279
33  15519267  15462452  15840900  15907951  15655924  15701602
34   4367251   4394694   4425789   4462056   4479525   4493242
37   1407409   1421455   1434357   1441523   1445683   1452458
40   1953035   1997258   2033441   2079072   2102907   2130006
41   2232374   2250020   2277017   2296347   2320241   2330024
42    579257    576688    578640    580701    575674    571078
43    800165    806156    808692    812580    742725    750491
44   1440611   1450616   1456626   1468279   1475716   1475353
45   1154102   1168163   1171298   1177436   1116618   1134105
46    838778    854716    862757    870374    888874    895911
47    983142   1000773   1021141   1048185   1066736   1081867
51    754198    761400    760872    763190    775800    770711
53   1029650   1042649   1060876   1080080   1098115   1110735
54   1348542   1356079   1371274   1368488   1377546   1382376
57    638956    635889    636121    634924    650401    637007
58   1055412   1081065   1113400   1142451   1167059   1187162
59    612747    597861    602567    596454    606934    612674
60    808974    811901    816684    818023    824352    822270
62   2073614   2115256   2143020   2170110   2213964   2237745
64   1136757   1149342   1141015   1128749   1127612   1118087
66    596053    591204    589684    588510    591492    586802
71    608659    620278    626319    634491    647205    654528
72    529615    537762    546589    557605    570745    570826
79    538759    548556    553012    559405    557666    561061

     Yeni_Sütununu_adı  2016_iki_kat
0   yeni sütun içerigi       4403340
1   yeni sütun içerigi       1220968
2   yeni sütun içerigi       1429046
3   yeni sütun içerigi       1084510
5   yeni sütun içerigi      10693036
6   yeni sütun içerigi       4657110
8   yeni sütun içerigi       2136520
9   yeni sütun içerigi       2392352
15  yeni sütun içerigi       5802792
16  yeni sütun içerigi       1039586
18  yeni sütun içerigi       1055726
19  yeni sütun içerigi       2011374
20  yeni sütun içerigi       3346238
22  yeni sütun içerigi       1157578
24  yeni sütun içerigi       1524042
25  yeni sütun içerigi       1689684
26  yeni sütun içerigi       3948488
30  yeni sütun içerigi       3110330
32  yeni sütun içerigi       3547704
33  yeni sütun içerigi      29608232
34  yeni sütun içerigi       8447090
37  yeni sütun içerigi       2717960
40  yeni sütun içerigi       3661544
41  yeni sütun içerigi       4322606
42  yeni sütun içerigi       1147284
43  yeni sütun içerigi       1562610
44  yeni sütun içerigi       2793890
45  yeni sütun içerigi       2225268
46  yeni sütun içerigi       1592474
47  yeni sütun içerigi       1847546
51  yeni sütun içerigi       1501176
53  yeni sütun içerigi       1953896
54  yeni sütun içerigi       2591854
57  yeni sütun içerigi       1242448
58  yeni sütun içerigi       1945750
59  yeni sütun içerigi       1205324
60  yeni sütun içerigi       1558758
62  yeni sütun içerigi       3881254
64  yeni sütun içerigi       2200380
66  yeni sütun içerigi       1195048
71  yeni sütun içerigi       1153798
72  yeni sütun içerigi        967576
79  yeni sütun içerigi       1044350

In [21]:

#DataFrame'i Excel veya CSV'ye Kaydetme

son_10_yıl.to_excel("yeni_dosya.xlsx", index=False)
#index=False parametresi, DataFrame'in indeks sütununu kaydetmemek için kullanılır.
son_10_yıl.to_csv("yeni_dosya.csv", index=False)
# DataFrame'i Excel veya CSV dosyasına kaydeder.

In [22]:
# 2024 yılına göre kategorik sınıflandırma fonksiyonu

def nufus_kategori(nufus): 
    if nufus < 1000000: # Küçük nüfuslu iller için 1M altı
        return "Küçük"
    elif nufus < 5000000:  # 1M ile 5M arasındaki iller için
        return "Orta"
    else:
        return "Büyük" # değer nüfus 5M üzerindeyse büyük olarak sınıflandırılır
    

    
# 2024 yılına göre kategorik sınıflandırma fonksiyonunu uygula

son_10_yıl["2024_Kategori"] = son_10_yıl[2024].apply(nufus_kategori)
print(son_10_yıl[["İL",2024, "2024_Kategori"]]) # sütunları seçiyorum

                İL     2024 2024_Kategori
0            Adana  2280484          Orta
1         Adıyaman   611037         Küçük
2   Afyonkarahisar   750193         Küçük
3             Ağrı   499801         Küçük
4           Amasya   342378         Küçük
..             ...      ...           ...
76          Yalova   307882         Küçük
77         Karabük   250478         Küçük
78           Kilis   156739         Küçük
79        Osmaniye   561061         Küçük
80           Düzce   412344         Küçük

[81 rows x 3 columns]

In [24]:
print(son_10_yıl["2024_Kategori"].value_counts())

Küçük    57
Orta     22
Büyük     2
Name: 2024_Kategori, dtype: int64